In [2]:
 import pandas as pd
 
 import numpy as np
 
 df = pd.read_csv('/Users/cuicaihong/Downloads/James_Harden.csv',encoding='utf8')

FileNotFoundError: [Errno 2] No such file or directory: '/Users/cuicaihong/Downloads/James_Harden.csv'

In [4]:
 df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>对手</th>
      <th>胜负</th>
      <th>主客场</th>
      <th>命中</th>
      <th>投篮数</th>
      <th>投篮命中率</th>
      <th>3分命中率</th>
      <th>篮板</th>
      <th>助攻</th>
      <th>得分</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>勇士</td>
      <td>胜</td>
      <td>客</td>
      <td>10</td>
      <td>23</td>
      <td>0.435</td>
      <td>0.444</td>
      <td>6</td>
      <td>11</td>
      <td>27</td>
    </tr>
    <tr>
      <th>1</th>
      <td>国王</td>
      <td>胜</td>
      <td>客</td>
      <td>8</td>
      <td>21</td>
      <td>0.381</td>
      <td>0.286</td>
      <td>3</td>
      <td>9</td>
      <td>27</td>
    </tr>
    <tr>
      <th>2</th>
      <td>小牛</td>
      <td>胜</td>
      <td>主</td>
      <td>10</td>
      <td>19</td>
      <td>0.526</td>
      <td>0.462</td>
      <td>3</td>
      <td>7</td>
      <td>29</td>
    </tr>
    <tr>
      <th>3</th>
      <td>灰熊</td>
      <td>负</td>
      <td>主</td>
      <td>8</td>
      <td>20</td>
      <td>0.400</td>
      <td>0.250</td>
      <td>5</td>
      <td>8</td>
      <td>22</td>
    </tr>
    <tr>
      <th>4</th>
      <td>76人</td>
      <td>胜</td>
      <td>客</td>
      <td>10</td>
      <td>20</td>
      <td>0.500</td>
      <td>0.250</td>
      <td>3</td>
      <td>13</td>
      <td>27</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   对手      25 non-null     object
 1   胜负      25 non-null     object
 2   主客场     25 non-null     object
 3   命中      25 non-null     int64
 4   投篮数     25 non-null     int64
 5   投篮命中率   25 non-null     float64
 6   3分命中率   25 non-null     float64
 7   篮板      25 non-null     int64
 8   助攻      25 non-null     int64
 9   得分      25 non-null     int64
dtypes: float64(2), int64(5), object(3)
memory usage: 2.1+ KB

In [9]:
df.shape

(25, 10)

In [10]:
df.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>命中</th>
      <th>投篮数</th>
      <th>投篮命中率</th>
      <th>3分命中率</th>
      <th>篮板</th>
      <th>助攻</th>
      <th>得分</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>25.000000</td>
      <td>25.000000</td>
      <td>25.00000</td>
      <td>25.000000</td>
      <td>25.000000</td>
      <td>25.000000</td>
      <td>25.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>9.800000</td>
      <td>21.160000</td>
      <td>0.46116</td>
      <td>0.406640</td>
      <td>5.080000</td>
      <td>9.480000</td>
      <td>32.040000</td>
    </tr>
    <tr>
      <th>std</th>
      <td>3.013857</td>
      <td>3.350124</td>
      <td>0.10404</td>
      <td>0.153846</td>
      <td>2.722132</td>
      <td>3.241913</td>
      <td>8.724869</td>
    </tr>
    <tr>
      <th>min</th>
      <td>6.000000</td>
      <td>15.000000</td>
      <td>0.31600</td>
      <td>0.143000</td>
      <td>1.000000</td>
      <td>3.000000</td>
      <td>20.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>8.000000</td>
      <td>19.000000</td>
      <td>0.38100</td>
      <td>0.286000</td>
      <td>3.000000</td>
      <td>8.000000</td>
      <td>27.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>9.000000</td>
      <td>21.000000</td>
      <td>0.44000</td>
      <td>0.400000</td>
      <td>5.000000</td>
      <td>9.000000</td>
      <td>29.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>11.000000</td>
      <td>23.000000</td>
      <td>0.52600</td>
      <td>0.462000</td>
      <td>6.000000</td>
      <td>11.000000</td>
      <td>37.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>19.000000</td>
      <td>29.000000</td>
      <td>0.76000</td>
      <td>0.875000</td>
      <td>11.000000</td>
      <td>17.000000</td>
      <td>56.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [2]:
pd.pivot_table(df,index=[u'对手'])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>3分命中率</th>
      <th>助攻</th>
      <th>命中</th>
      <th>得分</th>
      <th>投篮命中率</th>
      <th>投篮数</th>
      <th>篮板</th>
    </tr>
    <tr>
      <th>对手</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>76人</th>
      <td>0.33950</td>
      <td>10.00</td>
      <td>9.0</td>
      <td>28.00</td>
      <td>0.4405</td>
      <td>20.5</td>
      <td>3.5</td>
    </tr>
    <tr>
      <th>勇士</th>
      <td>0.44400</td>
      <td>11.00</td>
      <td>10.0</td>
      <td>27.00</td>
      <td>0.4350</td>
      <td>23.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>国王</th>
      <td>0.28600</td>
      <td>9.00</td>
      <td>8.0</td>
      <td>27.00</td>
      <td>0.3810</td>
      <td>21.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>太阳</th>
      <td>0.54500</td>
      <td>7.00</td>
      <td>12.0</td>
      <td>48.00</td>
      <td>0.5450</td>
      <td>22.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>小牛</th>
      <td>0.46200</td>
      <td>7.00</td>
      <td>10.0</td>
      <td>29.00</td>
      <td>0.5260</td>
      <td>19.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>尼克斯</th>
      <td>0.36900</td>
      <td>9.50</td>
      <td>10.5</td>
      <td>34.00</td>
      <td>0.4175</td>
      <td>25.0</td>
      <td>3.5</td>
    </tr>
    <tr>
      <th>开拓者</th>
      <td>0.57100</td>
      <td>3.00</td>
      <td>16.0</td>
      <td>48.00</td>
      <td>0.5520</td>
      <td>29.0</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>掘金</th>
      <td>0.14300</td>
      <td>9.00</td>
      <td>6.0</td>
      <td>21.00</td>
      <td>0.3750</td>
      <td>16.0</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>步行者</th>
      <td>0.29150</td>
      <td>12.50</td>
      <td>8.5</td>
      <td>27.50</td>
      <td>0.3965</td>
      <td>21.5</td>
      <td>6.5</td>
    </tr>
    <tr>
      <th>湖人</th>
      <td>0.44400</td>
      <td>9.00</td>
      <td>13.0</td>
      <td>36.00</td>
      <td>0.5910</td>
      <td>22.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>灰熊</th>
      <td>0.35025</td>
      <td>7.75</td>
      <td>8.5</td>
      <td>27.25</td>
      <td>0.4015</td>
      <td>21.0</td>
      <td>4.5</td>
    </tr>
    <tr>
      <th>爵士</th>
      <td>0.60400</td>
      <td>8.00</td>
      <td>13.5</td>
      <td>42.50</td>
      <td>0.5905</td>
      <td>22.0</td>
      <td>3.5</td>
    </tr>
    <tr>
      <th>猛龙</th>
      <td>0.27300</td>
      <td>11.00</td>
      <td>8.0</td>
      <td>38.00</td>
      <td>0.3200</td>
      <td>25.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>篮网</th>
      <td>0.61500</td>
      <td>8.00</td>
      <td>13.0</td>
      <td>37.00</td>
      <td>0.6500</td>
      <td>20.0</td>
      <td>10.0</td>
    </tr>
    <tr>
      <th>老鹰</th>
      <td>0.54500</td>
      <td>11.00</td>
      <td>8.0</td>
      <td>29.00</td>
      <td>0.5330</td>
      <td>15.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>骑士</th>
      <td>0.42900</td>
      <td>13.00</td>
      <td>8.0</td>
      <td>35.00</td>
      <td>0.3810</td>
      <td>21.0</td>
      <td>11.0</td>
    </tr>
    <tr>
      <th>鹈鹕</th>
      <td>0.40000</td>
      <td>17.00</td>
      <td>8.0</td>
      <td>26.00</td>
      <td>0.5000</td>
      <td>16.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>黄蜂</th>
      <td>0.40000</td>
      <td>11.00</td>
      <td>8.0</td>
      <td>27.00</td>
      <td>0.4440</td>
      <td>18.0</td>
      <td>10.0</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
pd.pivot_table(df,index=[u'对手',u'主客场'])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>3分命中率</th>
      <th>助攻</th>
      <th>命中</th>
      <th>得分</th>
      <th>投篮命中率</th>
      <th>投篮数</th>
      <th>篮板</th>
    </tr>
    <tr>
      <th>对手</th>
      <th>主客场</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">76人</th>
      <th>主</th>
      <td>0.4290</td>
      <td>7.0</td>
      <td>8.0</td>
      <td>29.0</td>
      <td>0.381</td>
      <td>21.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>客</th>
      <td>0.2500</td>
      <td>13.0</td>
      <td>10.0</td>
      <td>27.0</td>
      <td>0.500</td>
      <td>20.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>勇士</th>
      <th>客</th>
      <td>0.4440</td>
      <td>11.0</td>
      <td>10.0</td>
      <td>27.0</td>
      <td>0.435</td>
      <td>23.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>国王</th>
      <th>客</th>
      <td>0.2860</td>
      <td>9.0</td>
      <td>8.0</td>
      <td>27.0</td>
      <td>0.381</td>
      <td>21.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>太阳</th>
      <th>客</th>
      <td>0.5450</td>
      <td>7.0</td>
      <td>12.0</td>
      <td>48.0</td>
      <td>0.545</td>
      <td>22.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>小牛</th>
      <th>主</th>
      <td>0.4620</td>
      <td>7.0</td>
      <td>10.0</td>
      <td>29.0</td>
      <td>0.526</td>
      <td>19.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">尼克斯</th>
      <th>主</th>
      <td>0.3850</td>
      <td>10.0</td>
      <td>12.0</td>
      <td>37.0</td>
      <td>0.444</td>
      <td>27.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>客</th>
      <td>0.3530</td>
      <td>9.0</td>
      <td>9.0</td>
      <td>31.0</td>
      <td>0.391</td>
      <td>23.0</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>开拓者</th>
      <th>客</th>
      <td>0.5710</td>
      <td>3.0</td>
      <td>16.0</td>
      <td>48.0</td>
      <td>0.552</td>
      <td>29.0</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>掘金</th>
      <th>主</th>
      <td>0.1430</td>
      <td>9.0</td>
      <td>6.0</td>
      <td>21.0</td>
      <td>0.375</td>
      <td>16.0</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">步行者</th>
      <th>主</th>
      <td>0.3330</td>
      <td>10.0</td>
      <td>8.0</td>
      <td>29.0</td>
      <td>0.364</td>
      <td>22.0</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>客</th>
      <td>0.2500</td>
      <td>15.0</td>
      <td>9.0</td>
      <td>26.0</td>
      <td>0.429</td>
      <td>21.0</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>湖人</th>
      <th>客</th>
      <td>0.4440</td>
      <td>9.0</td>
      <td>13.0</td>
      <td>36.0</td>
      <td>0.591</td>
      <td>22.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">灰熊</th>
      <th>主</th>
      <td>0.3395</td>
      <td>8.0</td>
      <td>9.5</td>
      <td>30.0</td>
      <td>0.420</td>
      <td>22.5</td>
      <td>4.5</td>
    </tr>
    <tr>
      <th>客</th>
      <td>0.3610</td>
      <td>7.5</td>
      <td>7.5</td>
      <td>24.5</td>
      <td>0.383</td>
      <td>19.5</td>
      <td>4.5</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">爵士</th>
      <th>主</th>
      <td>0.8750</td>
      <td>13.0</td>
      <td>19.0</td>
      <td>56.0</td>
      <td>0.760</td>
      <td>25.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>客</th>
      <td>0.3330</td>
      <td>3.0</td>
      <td>8.0</td>
      <td>29.0</td>
      <td>0.421</td>
      <td>19.0</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>猛龙</th>
      <th>主</th>
      <td>0.2730</td>
      <td>11.0</td>
      <td>8.0</td>
      <td>38.0</td>
      <td>0.320</td>
      <td>25.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>篮网</th>
      <th>主</th>
      <td>0.6150</td>
      <td>8.0</td>
      <td>13.0</td>
      <td>37.0</td>
      <td>0.650</td>
      <td>20.0</td>
      <td>10.0</td>
    </tr>
    <tr>
      <th>老鹰</th>
      <th>客</th>
      <td>0.5450</td>
      <td>11.0</td>
      <td>8.0</td>
      <td>29.0</td>
      <td>0.533</td>
      <td>15.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>骑士</th>
      <th>主</th>
      <td>0.4290</td>
      <td>13.0</td>
      <td>8.0</td>
      <td>35.0</td>
      <td>0.381</td>
      <td>21.0</td>
      <td>11.0</td>
    </tr>
    <tr>
      <th>鹈鹕</th>
      <th>主</th>
      <td>0.4000</td>
      <td>17.0</td>
      <td>8.0</td>
      <td>26.0</td>
      <td>0.500</td>
      <td>16.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>黄蜂</th>
      <th>客</th>
      <td>0.4000</td>
      <td>11.0</td>
      <td>8.0</td>
      <td>27.0</td>
      <td>0.444</td>
      <td>18.0</td>
      <td>10.0</td>
    </tr>
  </tbody>
</table>
</div>

In [44]:
pd.pivot_table(df,index=[u'主客场',u'对手'])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>3分命中率</th>
      <th>助攻</th>
      <th>命中</th>
      <th>得分</th>
      <th>投篮命中率</th>
      <th>投篮数</th>
      <th>篮板</th>
    </tr>
    <tr>
      <th>主客场</th>
      <th>对手</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="11" valign="top">主</th>
      <th>76人</th>
      <td>0.4290</td>
      <td>7.0</td>
      <td>8.0</td>
      <td>29.0</td>
      <td>0.381</td>
      <td>21.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>小牛</th>
      <td>0.4620</td>
      <td>7.0</td>
      <td>10.0</td>
      <td>29.0</td>
      <td>0.526</td>
      <td>19.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>尼克斯</th>
      <td>0.3850</td>
      <td>10.0</td>
      <td>12.0</td>
      <td>37.0</td>
      <td>0.444</td>
      <td>27.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>掘金</th>
      <td>0.1430</td>
      <td>9.0</td>
      <td>6.0</td>
      <td>21.0</td>
      <td>0.375</td>
      <td>16.0</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>步行者</th>
      <td>0.3330</td>
      <td>10.0</td>
      <td>8.0</td>
      <td>29.0</td>
      <td>0.364</td>
      <td>22.0</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>灰熊</th>
      <td>0.3395</td>
      <td>8.0</td>
      <td>9.5</td>
      <td>30.0</td>
      <td>0.420</td>
      <td>22.5</td>
      <td>4.5</td>
    </tr>
    <tr>
      <th>爵士</th>
      <td>0.8750</td>
      <td>13.0</td>
      <td>19.0</td>
      <td>56.0</td>
      <td>0.760</td>
      <td>25.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>猛龙</th>
      <td>0.2730</td>
      <td>11.0</td>
      <td>8.0</td>
      <td>38.0</td>
      <td>0.320</td>
      <td>25.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>篮网</th>
      <td>0.6150</td>
      <td>8.0</td>
      <td>13.0</td>
      <td>37.0</td>
      <td>0.650</td>
      <td>20.0</td>
      <td>10.0</td>
    </tr>
    <tr>
      <th>骑士</th>
      <td>0.4290</td>
      <td>13.0</td>
      <td>8.0</td>
      <td>35.0</td>
      <td>0.381</td>
      <td>21.0</td>
      <td>11.0</td>
    </tr>
    <tr>
      <th>鹈鹕</th>
      <td>0.4000</td>
      <td>17.0</td>
      <td>8.0</td>
      <td>26.0</td>
      <td>0.500</td>
      <td>16.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th rowspan="12" valign="top">客</th>
      <th>76人</th>
      <td>0.2500</td>
      <td>13.0</td>
      <td>10.0</td>
      <td>27.0</td>
      <td>0.500</td>
      <td>20.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>勇士</th>
      <td>0.4440</td>
      <td>11.0</td>
      <td>10.0</td>
      <td>27.0</td>
      <td>0.435</td>
      <td>23.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>国王</th>
      <td>0.2860</td>
      <td>9.0</td>
      <td>8.0</td>
      <td>27.0</td>
      <td>0.381</td>
      <td>21.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>太阳</th>
      <td>0.5450</td>
      <td>7.0</td>
      <td>12.0</td>
      <td>48.0</td>
      <td>0.545</td>
      <td>22.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>尼克斯</th>
      <td>0.3530</td>
      <td>9.0</td>
      <td>9.0</td>
      <td>31.0</td>
      <td>0.391</td>
      <td>23.0</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>开拓者</th>
      <td>0.5710</td>
      <td>3.0</td>
      <td>16.0</td>
      <td>48.0</td>
      <td>0.552</td>
      <td>29.0</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>步行者</th>
      <td>0.2500</td>
      <td>15.0</td>
      <td>9.0</td>
      <td>26.0</td>
      <td>0.429</td>
      <td>21.0</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>湖人</th>
      <td>0.4440</td>
      <td>9.0</td>
      <td>13.0</td>
      <td>36.0</td>
      <td>0.591</td>
      <td>22.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>灰熊</th>
      <td>0.3610</td>
      <td>7.5</td>
      <td>7.5</td>
      <td>24.5</td>
      <td>0.383</td>
      <td>19.5</td>
      <td>4.5</td>
    </tr>
    <tr>
      <th>爵士</th>
      <td>0.3330</td>
      <td>3.0</td>
      <td>8.0</td>
      <td>29.0</td>
      <td>0.421</td>
      <td>19.0</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>老鹰</th>
      <td>0.5450</td>
      <td>11.0</td>
      <td>8.0</td>
      <td>29.0</td>
      <td>0.533</td>
      <td>15.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>黄蜂</th>
      <td>0.4000</td>
      <td>11.0</td>
      <td>8.0</td>
      <td>27.0</td>
      <td>0.444</td>
      <td>18.0</td>
      <td>10.0</td>
    </tr>
  </tbody>
</table>
</div>

In [41]:
pd.pivot_table(df,index=[u'主客场',u'胜负'],values=[u'得分',u'助攻',u'篮板'])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>助攻</th>
      <th>得分</th>
      <th>篮板</th>
    </tr>
    <tr>
      <th>主客场</th>
      <th>胜负</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">主</th>
      <th>胜</th>
      <td>10.555556</td>
      <td>34.222222</td>
      <td>5.444444</td>
    </tr>
    <tr>
      <th>负</th>
      <td>8.666667</td>
      <td>29.666667</td>
      <td>5.000000</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">客</th>
      <th>胜</th>
      <td>9.000000</td>
      <td>32.000000</td>
      <td>4.916667</td>
    </tr>
    <tr>
      <th>负</th>
      <td>8.000000</td>
      <td>20.000000</td>
      <td>4.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [42]:
pd.pivot_table(df,index=[u'主客场',u'胜负'],values=[u'得分',u'助攻',u'篮板'],aggfunc=[np.sum,np.mean])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3" halign="left">sum</th>
      <th colspan="3" halign="left">mean</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>助攻</th>
      <th>得分</th>
      <th>篮板</th>
      <th>助攻</th>
      <th>得分</th>
      <th>篮板</th>
    </tr>
    <tr>
      <th>主客场</th>
      <th>胜负</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">主</th>
      <th>胜</th>
      <td>95</td>
      <td>308</td>
      <td>49</td>
      <td>10.555556</td>
      <td>34.222222</td>
      <td>5.444444</td>
    </tr>
    <tr>
      <th>负</th>
      <td>26</td>
      <td>89</td>
      <td>15</td>
      <td>8.666667</td>
      <td>29.666667</td>
      <td>5.000000</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">客</th>
      <th>胜</th>
      <td>108</td>
      <td>384</td>
      <td>59</td>
      <td>9.000000</td>
      <td>32.000000</td>
      <td>4.916667</td>
    </tr>
    <tr>
      <th>负</th>
      <td>8</td>
      <td>20</td>
      <td>4</td>
      <td>8.000000</td>
      <td>20.000000</td>
      <td>4.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [22]:
pd.pivot_table(df,index=[u'主客场'],columns=[u'对手'],values=[u'得分'],aggfunc=[np.mean],fill_value=0,margins=1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="19" halign="left">mean</th>
    </tr>
    <tr>
      <th></th>
      <th colspan="19" halign="left">得分</th>
    </tr>
    <tr>
      <th>对手</th>
      <th>76人</th>
      <th>勇士</th>
      <th>国王</th>
      <th>太阳</th>
      <th>小牛</th>
      <th>尼克斯</th>
      <th>开拓者</th>
      <th>掘金</th>
      <th>步行者</th>
      <th>湖人</th>
      <th>灰熊</th>
      <th>爵士</th>
      <th>猛龙</th>
      <th>篮网</th>
      <th>老鹰</th>
      <th>骑士</th>
      <th>鹈鹕</th>
      <th>黄蜂</th>
      <th>All</th>
    </tr>
    <tr>
      <th>主客场</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>主</th>
      <td>29</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>29</td>
      <td>37</td>
      <td>0</td>
      <td>21</td>
      <td>29.0</td>
      <td>0</td>
      <td>30.00</td>
      <td>56.0</td>
      <td>38</td>
      <td>37</td>
      <td>0</td>
      <td>35</td>
      <td>26</td>
      <td>0</td>
      <td>33.083333</td>
    </tr>
    <tr>
      <th>客</th>
      <td>27</td>
      <td>27</td>
      <td>27</td>
      <td>48</td>
      <td>0</td>
      <td>31</td>
      <td>48</td>
      <td>0</td>
      <td>26.0</td>
      <td>36</td>
      <td>24.50</td>
      <td>29.0</td>
      <td>0</td>
      <td>0</td>
      <td>29</td>
      <td>0</td>
      <td>0</td>
      <td>27</td>
      <td>31.076923</td>
    </tr>
    <tr>
      <th>All</th>
      <td>28</td>
      <td>27</td>
      <td>27</td>
      <td>48</td>
      <td>29</td>
      <td>34</td>
      <td>48</td>
      <td>21</td>
      <td>27.5</td>
      <td>36</td>
      <td>27.25</td>
      <td>42.5</td>
      <td>38</td>
      <td>37</td>
      <td>29</td>
      <td>35</td>
      <td>26</td>
      <td>27</td>
      <td>32.040000</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
pd.pivot_table(df,index=[u'主客场'],columns=[u'对手'],values=[u'得分'],aggfunc=[np.sum],fill_value=0,margins=1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="19" halign="left">sum</th>
    </tr>
    <tr>
      <th></th>
      <th colspan="19" halign="left">得分</th>
    </tr>
    <tr>
      <th>对手</th>
      <th>76人</th>
      <th>勇士</th>
      <th>国王</th>
      <th>太阳</th>
      <th>小牛</th>
      <th>尼克斯</th>
      <th>开拓者</th>
      <th>掘金</th>
      <th>步行者</th>
      <th>湖人</th>
      <th>灰熊</th>
      <th>爵士</th>
      <th>猛龙</th>
      <th>篮网</th>
      <th>老鹰</th>
      <th>骑士</th>
      <th>鹈鹕</th>
      <th>黄蜂</th>
      <th>All</th>
    </tr>
    <tr>
      <th>主客场</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>主</th>
      <td>29</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>29</td>
      <td>37</td>
      <td>0</td>
      <td>21</td>
      <td>29</td>
      <td>0</td>
      <td>60</td>
      <td>56</td>
      <td>38</td>
      <td>37</td>
      <td>0</td>
      <td>35</td>
      <td>26</td>
      <td>0</td>
      <td>397</td>
    </tr>
    <tr>
      <th>客</th>
      <td>27</td>
      <td>27</td>
      <td>27</td>
      <td>48</td>
      <td>0</td>
      <td>31</td>
      <td>48</td>
      <td>0</td>
      <td>26</td>
      <td>36</td>
      <td>49</td>
      <td>29</td>
      <td>0</td>
      <td>0</td>
      <td>29</td>
      <td>0</td>
      <td>0</td>
      <td>27</td>
      <td>404</td>
    </tr>
    <tr>
      <th>All</th>
      <td>56</td>
      <td>27</td>
      <td>27</td>
      <td>48</td>
      <td>29</td>
      <td>68</td>
      <td>48</td>
      <td>21</td>
      <td>55</td>
      <td>36</td>
      <td>109</td>
      <td>85</td>
      <td>38</td>
      <td>37</td>
      <td>29</td>
      <td>35</td>
      <td>26</td>
      <td>27</td>
      <td>801</td>
    </tr>
  </tbody>
</table>
</div>

In [45]:
table=pd.pivot_table(df,index=[u'对手',u'胜负'],columns=[u'主客场'],values=[u'得分',u'助攻',u'篮板'],aggfunc=[np.mean],fill_value=0)

In [46]:
table

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="6" halign="left">mean</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th colspan="2" halign="left">助攻</th>
      <th colspan="2" halign="left">得分</th>
      <th colspan="2" halign="left">篮板</th>
    </tr>
    <tr>
      <th></th>
      <th>主客场</th>
      <th>主</th>
      <th>客</th>
      <th>主</th>
      <th>客</th>
      <th>主</th>
      <th>客</th>
    </tr>
    <tr>
      <th>对手</th>
      <th>胜负</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">76人</th>
      <th>胜</th>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>27</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>负</th>
      <td>7</td>
      <td>0</td>
      <td>29</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
    </tr>
    <tr>
      <th>勇士</th>
      <th>胜</th>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>27</td>
      <td>0</td>
      <td>6</td>
    </tr>
    <tr>
      <th>国王</th>
      <th>胜</th>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>27</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>太阳</th>
      <th>胜</th>
      <td>0</td>
      <td>7</td>
      <td>0</td>
      <td>48</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>小牛</th>
      <th>胜</th>
      <td>7</td>
      <td>0</td>
      <td>29</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
    </tr>
    <tr>
      <th>尼克斯</th>
      <th>胜</th>
      <td>10</td>
      <td>9</td>
      <td>37</td>
      <td>31</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>开拓者</th>
      <th>胜</th>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>48</td>
      <td>0</td>
      <td>8</td>
    </tr>
    <tr>
      <th>掘金</th>
      <th>胜</th>
      <td>9</td>
      <td>0</td>
      <td>21</td>
      <td>0</td>
      <td>8</td>
      <td>0</td>
    </tr>
    <tr>
      <th>步行者</th>
      <th>胜</th>
      <td>10</td>
      <td>15</td>
      <td>29</td>
      <td>26</td>
      <td>8</td>
      <td>5</td>
    </tr>
    <tr>
      <th>湖人</th>
      <th>胜</th>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>36</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">灰熊</th>
      <th>胜</th>
      <td>8</td>
      <td>7</td>
      <td>38</td>
      <td>29</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>负</th>
      <td>8</td>
      <td>8</td>
      <td>22</td>
      <td>20</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>爵士</th>
      <th>胜</th>
      <td>13</td>
      <td>3</td>
      <td>56</td>
      <td>29</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>猛龙</th>
      <th>负</th>
      <td>11</td>
      <td>0</td>
      <td>38</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
    </tr>
    <tr>
      <th>篮网</th>
      <th>胜</th>
      <td>8</td>
      <td>0</td>
      <td>37</td>
      <td>0</td>
      <td>10</td>
      <td>0</td>
    </tr>
    <tr>
      <th>老鹰</th>
      <th>胜</th>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>29</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>骑士</th>
      <th>胜</th>
      <td>13</td>
      <td>0</td>
      <td>35</td>
      <td>0</td>
      <td>11</td>
      <td>0</td>
    </tr>
    <tr>
      <th>鹈鹕</th>
      <th>胜</th>
      <td>17</td>
      <td>0</td>
      <td>26</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>黄蜂</th>
      <th>胜</th>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>27</td>
      <td>0</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
</div>

In [28]:
table=pd.pivot_table(df,index=[u'对手',u'胜负'],columns=[u'主客场'],values=[u'得分',u'助攻',u'篮板'],aggfunc={u'得分':np.mean, u'助攻':[min, max, np.mean]},fill_value=0)

In [29]:
table

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="6" halign="left">助攻</th>
      <th colspan="2" halign="left">得分</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th colspan="2" halign="left">max</th>
      <th colspan="2" halign="left">mean</th>
      <th colspan="2" halign="left">min</th>
      <th colspan="2" halign="left">mean</th>
    </tr>
    <tr>
      <th></th>
      <th>主客场</th>
      <th>主</th>
      <th>客</th>
      <th>主</th>
      <th>客</th>
      <th>主</th>
      <th>客</th>
      <th>主</th>
      <th>客</th>
    </tr>
    <tr>
      <th>对手</th>
      <th>胜负</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">76人</th>
      <th>胜</th>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>27</td>
    </tr>
    <tr>
      <th>负</th>
      <td>7</td>
      <td>0</td>
      <td>7</td>
      <td>0</td>
      <td>7</td>
      <td>0</td>
      <td>29</td>
      <td>0</td>
    </tr>
    <tr>
      <th>勇士</th>
      <th>胜</th>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>27</td>
    </tr>
    <tr>
      <th>国王</th>
      <th>胜</th>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>27</td>
    </tr>
    <tr>
      <th>太阳</th>
      <th>胜</th>
      <td>0</td>
      <td>7</td>
      <td>0</td>
      <td>7</td>
      <td>0</td>
      <td>7</td>
      <td>0</td>
      <td>48</td>
    </tr>
    <tr>
      <th>小牛</th>
      <th>胜</th>
      <td>7</td>
      <td>0</td>
      <td>7</td>
      <td>0</td>
      <td>7</td>
      <td>0</td>
      <td>29</td>
      <td>0</td>
    </tr>
    <tr>
      <th>尼克斯</th>
      <th>胜</th>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>9</td>
      <td>37</td>
      <td>31</td>
    </tr>
    <tr>
      <th>开拓者</th>
      <th>胜</th>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>48</td>
    </tr>
    <tr>
      <th>掘金</th>
      <th>胜</th>
      <td>9</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>21</td>
      <td>0</td>
    </tr>
    <tr>
      <th>步行者</th>
      <th>胜</th>
      <td>10</td>
      <td>15</td>
      <td>10</td>
      <td>15</td>
      <td>10</td>
      <td>15</td>
      <td>29</td>
      <td>26</td>
    </tr>
    <tr>
      <th>湖人</th>
      <th>胜</th>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>36</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">灰熊</th>
      <th>胜</th>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>38</td>
      <td>29</td>
    </tr>
    <tr>
      <th>负</th>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>22</td>
      <td>20</td>
    </tr>
    <tr>
      <th>爵士</th>
      <th>胜</th>
      <td>13</td>
      <td>3</td>
      <td>13</td>
      <td>3</td>
      <td>13</td>
      <td>3</td>
      <td>56</td>
      <td>29</td>
    </tr>
    <tr>
      <th>猛龙</th>
      <th>负</th>
      <td>11</td>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>38</td>
      <td>0</td>
    </tr>
    <tr>
      <th>篮网</th>
      <th>胜</th>
      <td>8</td>
      <td>0</td>
      <td>8</td>
      <td>0</td>
      <td>8</td>
      <td>0</td>
      <td>37</td>
      <td>0</td>
    </tr>
    <tr>
      <th>老鹰</th>
      <th>胜</th>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>29</td>
    </tr>
    <tr>
      <th>骑士</th>
      <th>胜</th>
      <td>13</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>35</td>
      <td>0</td>
    </tr>
    <tr>
      <th>鹈鹕</th>
      <th>胜</th>
      <td>17</td>
      <td>0</td>
      <td>17</td>
      <td>0</td>
      <td>17</td>
      <td>0</td>
      <td>26</td>
      <td>0</td>
    </tr>
    <tr>
      <th>黄蜂</th>
      <th>胜</th>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>27</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
df1 = pd.DataFrame([['张三', 10, '男'], 
                 ['李四', 11, '男'], 
                 ['王五', 11, '女'], 
                 ['赵六', 10, '女'],
                 ['王七', 11, '男'],
                 ['Mike', 10, '男']], 
                columns=['name', '1_age', '1_sex'])
df1

   name  1_age 1_sex
0    张三     10     男
1    李四     11     男
2    王五     11     女
3    赵六     10     女
4    王七     11     男
5  Mike     10     男

In [7]:
df2 = pd.DataFrame([['Mike', 10, '男'], 
                 ['Jane', 11, '女'],
                   ['张三', 10, '男']],
                columns=['name', '2_age', '2_sex'])
df2

   name  2_age 2_sex
0  Mike     10     男
1  Jane     11     女
2    张三     10     男

In [8]:
pd.merge(df1,df2,how='inner')

   name  1_age 1_sex  2_age 2_sex
0    张三     10     男     10     男
1  Mike     10     男     10     男