In [2]:
import pandas as pd
import numpy as np

In [4]:
import os
os.chdir('/Users/cuicaihong/myWork/PycharmProjects/LZJF_Analysis/data')

In [12]:
data = pd.read_csv('as_bbt_repay.csv')
data = repay_info[repay_info['PRODID'] == 'LN0026']
data

,JNLNO,HJJNLNO,HJGLOBALJNLNO,MERCHANTNO,PRODID,DUENO,CONTNO,IDTYPE,IDNO,IDNAME,...,REPAYACCNO,REPAYSOURCE,CHANNELJNLNO,SendRouterJnlNo,CREATETIME,UPDATETIME,REPAYMONTH,RATE,PROFITSHARING,PROFITAMOUNT
2310,010120181127000060373801000000,IBS20180915000015481137,ENS18091500003379011,20180001,LN0026,20180010018561,20180829000000001029,ZJ01,430103197708034035,范旭辉,...,9000120114001012020,1,NaN,NaN,27/11/2018 16:04:34,27/11/2018 16:04:34,201809.0,8.50,1.0,88.8894
2311,010120181127000060378901000000,IBS20180916000015545010,ENS18091600003401751,20180001,LN0026,20180010018482,20180828000000001017,ZJ01,371322198605302710,杜从都,...,9000120114001012020,1,NaN,NaN,27/11/2018 16:04:58,27/11/2018 16:04:58,201809.0,8.50,1.0,22.2224
2526,010120181127000060463101000000,IBS20180919000015856640,ENS18091900003540747,20180001,LN0026,20180010018688,20180831000000001074,ZJ01,372922197910063954,钟保银,...,9000120114001012020,1,NaN,NaN,27/11/2018 16:06:02,27/11/2018 16:06:02,201809.0,5.65,1.0,58.3327
4010,010120181127000061066501000000,IBS20181015000019343179,ENS18101500005164619,20180001,LN0026,20180010020421,20180906000000001320,ZJ01,372833197502280611,吴淑阳,...,9000120114001012020,1,NaN,NaN,27/11/2018 16:16:28,27/11/2018 16:16:28,201810.0,5.65,1.0,108.3327
4011,010120181127000061066601000000,IBS20181015000019343185,ENS18101500005164623,20180001,LN0026,20180010020428,20180906000000001322,ZJ01,110104196404280509,安长丽,...,9000120114001012020,1,NaN,NaN,27/11/2018 16:16:28,27/11/2018 16:16:28,201810.0,5.65,1.0,216.6673
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47703,010120200606001812064401000000,IBS20200605000572650243,ENS20060500213088180,20180001,LN0026,20180010033698,20181201000000006312,ZJ01,350628198709194013,何伟林,...,9000120114001012020,1,32138220200605327865517992025503,32138220200605327865517992025503,6/6/2020 07:00:01,6/6/2020 07:00:01,202006.0,5.65,0.5,1.4584
47715,010120200606001812065601000000,IBS20200605000572719060,ENS20060500213119216,20180001,LN0026,20180010020382,20180905000000001287,ZJ01,372926198405142520,张秋兰,...,9000120114001012020,1,32138220200605330090906992026489,32138220200605330090906992026489,6/6/2020 07:00:01,6/6/2020 07:00:01,202006.0,5.65,0.5,7.3646
47720,010120200607001819886401000000,IBS20200606000575203945,ENS20060600214039289,20180001,LN0026,20180010033959,20181206000000006327,ZJ01,441721198308033132,林立,...,9000120114001012020,1,NaN,NaN,7/6/2020 07:00:01,7/6/2020 07:00:01,202006.0,5.65,0.5,0.8434
47725,010120200610001843348101000000,IBS20200609000581073463,ENS20060900216268655,20180001,LN0026,20190010065061,20190604000000008669,ZJ01,622827199105110946,张银利,...,9000120114001012020,1,NaN,NaN,10/6/2020 07:00:01,10/6/2020 07:00:01,202006.0,5.65,0.5,1.1283
47750,010120200611001851179301000000,IBS20200610000583151193,ENS20061000217095565,20180001,LN0026,20180010034108,20181210000000006331,ZJ01,362528198404305024,曾燕霞,...,9000120114001012020,1,NaN,NaN,11/6/2020 07:00:01,11/6/2020 07:00:01,202006.0,5.65,0.5,1.4053

In [13]:
data.columns

Index(['JNLNO', 'HJJNLNO', 'HJGLOBALJNLNO', 'MERCHANTNO', 'PRODID', 'DUENO',
       'CONTNO', 'IDTYPE', 'IDNO', 'IDNAME', 'REPAYDATE', '还款金额',
       'NORMALINTEREST', 'PENALTYINTEREST', 'COMPOUNDINTEREST', 'REPAYACCNO',
       'REPAYSOURCE', 'CHANNELJNLNO', 'SendRouterJnlNo', 'CREATETIME',
       'UPDATETIME', 'REPAYMONTH', 'RATE', 'PROFITSHARING', 'PROFITAMOUNT'],
      dtype='object')

In [14]:
columns = {'CAPITAL':'还款金额'}
data = repay_info.rename(columns = columns)
data.columns

Index(['JNLNO', 'HJJNLNO', 'HJGLOBALJNLNO', 'MERCHANTNO', 'PRODID', 'DUENO',
       'CONTNO', 'IDTYPE', 'IDNO', 'IDNAME', 'REPAYDATE', '还款金额',
       'NORMALINTEREST', 'PENALTYINTEREST', 'COMPOUNDINTEREST', 'REPAYACCNO',
       'REPAYSOURCE', 'CHANNELJNLNO', 'SendRouterJnlNo', 'CREATETIME',
       'UPDATETIME', 'REPAYMONTH', 'RATE', 'PROFITSHARING', 'PROFITAMOUNT'],
      dtype='object')

In [25]:
miss_rate = pd.DataFrame(data.apply(lambda x: sum(x.isnull())/len(x),axis = 0))
miss_rate.columns = ['缺失率']
miss_rate = miss_rate[miss_rate['缺失率'] > 0]
miss_rate

                      缺失率
CHANNELJNLNO     0.891568
SendRouterJnlNo  0.891568

In [28]:
data[data['SendRouterJnlNo'].isnull()]['REPAYSOURCE'].value_counts()

1    15991
3      462
Name: REPAYSOURCE, dtype: int64

In [30]:
data = data.fillna('0')
data

,JNLNO,HJJNLNO,HJGLOBALJNLNO,MERCHANTNO,PRODID,DUENO,CONTNO,IDTYPE,IDNO,IDNAME,...,REPAYACCNO,REPAYSOURCE,CHANNELJNLNO,SendRouterJnlNo,CREATETIME,UPDATETIME,REPAYMONTH,RATE,PROFITSHARING,PROFITAMOUNT
2310,010120181127000060373801000000,IBS20180915000015481137,ENS18091500003379011,20180001,LN0026,20180010018561,20180829000000001029,ZJ01,430103197708034035,范旭辉,...,9000120114001012020,1,0,0,27/11/2018 16:04:34,27/11/2018 16:04:34,201809.0,8.50,1.0,88.8894
2311,010120181127000060378901000000,IBS20180916000015545010,ENS18091600003401751,20180001,LN0026,20180010018482,20180828000000001017,ZJ01,371322198605302710,杜从都,...,9000120114001012020,1,0,0,27/11/2018 16:04:58,27/11/2018 16:04:58,201809.0,8.50,1.0,22.2224
2526,010120181127000060463101000000,IBS20180919000015856640,ENS18091900003540747,20180001,LN0026,20180010018688,20180831000000001074,ZJ01,372922197910063954,钟保银,...,9000120114001012020,1,0,0,27/11/2018 16:06:02,27/11/2018 16:06:02,201809.0,5.65,1.0,58.3327
4010,010120181127000061066501000000,IBS20181015000019343179,ENS18101500005164619,20180001,LN0026,20180010020421,20180906000000001320,ZJ01,372833197502280611,吴淑阳,...,9000120114001012020,1,0,0,27/11/2018 16:16:28,27/11/2018 16:16:28,201810.0,5.65,1.0,108.3327
4011,010120181127000061066601000000,IBS20181015000019343185,ENS18101500005164623,20180001,LN0026,20180010020428,20180906000000001322,ZJ01,110104196404280509,安长丽,...,9000120114001012020,1,0,0,27/11/2018 16:16:28,27/11/2018 16:16:28,201810.0,5.65,1.0,216.6673
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47703,010120200606001812064401000000,IBS20200605000572650243,ENS20060500213088180,20180001,LN0026,20180010033698,20181201000000006312,ZJ01,350628198709194013,何伟林,...,9000120114001012020,1,32138220200605327865517992025503,32138220200605327865517992025503,6/6/2020 07:00:01,6/6/2020 07:00:01,202006.0,5.65,0.5,1.4584
47715,010120200606001812065601000000,IBS20200605000572719060,ENS20060500213119216,20180001,LN0026,20180010020382,20180905000000001287,ZJ01,372926198405142520,张秋兰,...,9000120114001012020,1,32138220200605330090906992026489,32138220200605330090906992026489,6/6/2020 07:00:01,6/6/2020 07:00:01,202006.0,5.65,0.5,7.3646
47720,010120200607001819886401000000,IBS20200606000575203945,ENS20060600214039289,20180001,LN0026,20180010033959,20181206000000006327,ZJ01,441721198308033132,林立,...,9000120114001012020,1,0,0,7/6/2020 07:00:01,7/6/2020 07:00:01,202006.0,5.65,0.5,0.8434
47725,010120200610001843348101000000,IBS20200609000581073463,ENS20060900216268655,20180001,LN0026,20190010065061,20190604000000008669,ZJ01,622827199105110946,张银利,...,9000120114001012020,1,0,0,10/6/2020 07:00:01,10/6/2020 07:00:01,202006.0,5.65,0.5,1.1283
47750,010120200611001851179301000000,IBS20200610000583151193,ENS20061000217095565,20180001,LN0026,20180010034108,20181210000000006331,ZJ01,362528198404305024,曾燕霞,...,9000120114001012020,1,0,0,11/6/2020 07:00:01,11/6/2020 07:00:01,202006.0,5.65,0.5,1.4053

In [33]:
data[data.duplicated()]

Empty DataFrame
Columns: [JNLNO, HJJNLNO, HJGLOBALJNLNO, MERCHANTNO, PRODID, DUENO, CONTNO, IDTYPE, IDNO, IDNAME, REPAYDATE, 还款金额, NORMALINTEREST, PENALTYINTEREST, COMPOUNDINTEREST, REPAYACCNO, REPAYSOURCE, CHANNELJNLNO, SendRouterJnlNo, CREATETIME, UPDATETIME, REPAYMONTH, RATE, PROFITSHARING, PROFITAMOUNT]
Index: []

[0 rows x 25 columns]

In [37]:
data.drop_duplicates(inplace = True)

In [38]:
data['REPAYSOURCE'].value_counts()

1    17989
3      465
Name: REPAYSOURCE, dtype: int64

In [43]:
data = data[(data['REPAYSOURCE']==1)| (data['REPAYSOURCE']==3)]

In [44]:
data['性别'] = (data['IDNO'].str[16].astype(int)%2).replace({1:'男',0:'女'})
data

,JNLNO,HJJNLNO,HJGLOBALJNLNO,MERCHANTNO,PRODID,DUENO,CONTNO,IDTYPE,IDNO,IDNAME,...,REPAYSOURCE,CHANNELJNLNO,SendRouterJnlNo,CREATETIME,UPDATETIME,REPAYMONTH,RATE,PROFITSHARING,PROFITAMOUNT,性别
2310,010120181127000060373801000000,IBS20180915000015481137,ENS18091500003379011,20180001,LN0026,20180010018561,20180829000000001029,ZJ01,430103197708034035,范旭辉,...,1,0,0,27/11/2018 16:04:34,27/11/2018 16:04:34,201809.0,8.50,1.0,88.8894,男
2311,010120181127000060378901000000,IBS20180916000015545010,ENS18091600003401751,20180001,LN0026,20180010018482,20180828000000001017,ZJ01,371322198605302710,杜从都,...,1,0,0,27/11/2018 16:04:58,27/11/2018 16:04:58,201809.0,8.50,1.0,22.2224,男
2526,010120181127000060463101000000,IBS20180919000015856640,ENS18091900003540747,20180001,LN0026,20180010018688,20180831000000001074,ZJ01,372922197910063954,钟保银,...,1,0,0,27/11/2018 16:06:02,27/11/2018 16:06:02,201809.0,5.65,1.0,58.3327,男
4010,010120181127000061066501000000,IBS20181015000019343179,ENS18101500005164619,20180001,LN0026,20180010020421,20180906000000001320,ZJ01,372833197502280611,吴淑阳,...,1,0,0,27/11/2018 16:16:28,27/11/2018 16:16:28,201810.0,5.65,1.0,108.3327,男
4011,010120181127000061066601000000,IBS20181015000019343185,ENS18101500005164623,20180001,LN0026,20180010020428,20180906000000001322,ZJ01,110104196404280509,安长丽,...,1,0,0,27/11/2018 16:16:28,27/11/2018 16:16:28,201810.0,5.65,1.0,216.6673,女
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47703,010120200606001812064401000000,IBS20200605000572650243,ENS20060500213088180,20180001,LN0026,20180010033698,20181201000000006312,ZJ01,350628198709194013,何伟林,...,1,32138220200605327865517992025503,32138220200605327865517992025503,6/6/2020 07:00:01,6/6/2020 07:00:01,202006.0,5.65,0.5,1.4584,男
47715,010120200606001812065601000000,IBS20200605000572719060,ENS20060500213119216,20180001,LN0026,20180010020382,20180905000000001287,ZJ01,372926198405142520,张秋兰,...,1,32138220200605330090906992026489,32138220200605330090906992026489,6/6/2020 07:00:01,6/6/2020 07:00:01,202006.0,5.65,0.5,7.3646,女
47720,010120200607001819886401000000,IBS20200606000575203945,ENS20060600214039289,20180001,LN0026,20180010033959,20181206000000006327,ZJ01,441721198308033132,林立,...,1,0,0,7/6/2020 07:00:01,7/6/2020 07:00:01,202006.0,5.65,0.5,0.8434,男
47725,010120200610001843348101000000,IBS20200609000581073463,ENS20060900216268655,20180001,LN0026,20190010065061,20190604000000008669,ZJ01,622827199105110946,张银利,...,1,0,0,10/6/2020 07:00:01,10/6/2020 07:00:01,202006.0,5.65,0.5,1.1283,女
47750,010120200611001851179301000000,IBS20200610000583151193,ENS20061000217095565,20180001,LN0026,20180010034108,20181210000000006331,ZJ01,362528198404305024,曾燕霞,...,1,0,0,11/6/2020 07:00:01,11/6/2020 07:00:01,202006.0,5.65,0.5,1.4053,女

In [50]:
df_gender = pd.pivot_table(data = data,columns = 'REPAYSOURCE',index= '性别',values = 'JNLNO',aggfunc = np.size)
df_gender

REPAYSOURCE      1    3
性别
女             6294  155
男            11695  310

In [54]:
df_gender['借款笔数占比'] = df_gender.apply(np.sum(),axis = 1)/df_gender.sum().sum()
df_gender

TypeError: _sum_dispatcher() missing 1 required positional argument: 'a'

In [61]:
import datetime
def convert_time(time):
    try:
        return datetime.datetime.strptime(str(time), "%Y-%m-%d")
    except:
        try:
            return datetime.datetime.strptime(str(time), "%Y-%m-%d %H:%M:%S")
        except:
            try:
                return datetime.datetime.strptime(str(time), "%Y%m%d%H%M%S")
            except:
                try:
                    return datetime.datetime.strptime(str(time), "%Y%m%d")
                except:
                    try:
                        return datetime.datetime.strptime(str(time), "%d%m%Y%H%M%S")
                    except:
                        print("Wrong date format: %s" % time)
                        return None
now_time = datetime.datetime.now() 
data['person_birthday'] = data['IDNO'].str[6:14].apply(convert_time)
data['age'] = data['person_birthday'].apply(lambda x:(now_time-x).days/365).astype(int)
data

,JNLNO,HJJNLNO,HJGLOBALJNLNO,MERCHANTNO,PRODID,DUENO,CONTNO,IDTYPE,IDNO,IDNAME,...,SendRouterJnlNo,CREATETIME,UPDATETIME,REPAYMONTH,RATE,PROFITSHARING,PROFITAMOUNT,性别,person_birthday,age
2310,010120181127000060373801000000,IBS20180915000015481137,ENS18091500003379011,20180001,LN0026,20180010018561,20180829000000001029,ZJ01,430103197708034035,范旭辉,...,0,27/11/2018 16:04:34,27/11/2018 16:04:34,201809.0,8.50,1.0,88.8894,男,1977-08-03,43
2311,010120181127000060378901000000,IBS20180916000015545010,ENS18091600003401751,20180001,LN0026,20180010018482,20180828000000001017,ZJ01,371322198605302710,杜从都,...,0,27/11/2018 16:04:58,27/11/2018 16:04:58,201809.0,8.50,1.0,22.2224,男,1986-05-30,34
2526,010120181127000060463101000000,IBS20180919000015856640,ENS18091900003540747,20180001,LN0026,20180010018688,20180831000000001074,ZJ01,372922197910063954,钟保银,...,0,27/11/2018 16:06:02,27/11/2018 16:06:02,201809.0,5.65,1.0,58.3327,男,1979-10-06,41
4010,010120181127000061066501000000,IBS20181015000019343179,ENS18101500005164619,20180001,LN0026,20180010020421,20180906000000001320,ZJ01,372833197502280611,吴淑阳,...,0,27/11/2018 16:16:28,27/11/2018 16:16:28,201810.0,5.65,1.0,108.3327,男,1975-02-28,45
4011,010120181127000061066601000000,IBS20181015000019343185,ENS18101500005164623,20180001,LN0026,20180010020428,20180906000000001322,ZJ01,110104196404280509,安长丽,...,0,27/11/2018 16:16:28,27/11/2018 16:16:28,201810.0,5.65,1.0,216.6673,女,1964-04-28,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47703,010120200606001812064401000000,IBS20200605000572650243,ENS20060500213088180,20180001,LN0026,20180010033698,20181201000000006312,ZJ01,350628198709194013,何伟林,...,32138220200605327865517992025503,6/6/2020 07:00:01,6/6/2020 07:00:01,202006.0,5.65,0.5,1.4584,男,1987-09-19,33
47715,010120200606001812065601000000,IBS20200605000572719060,ENS20060500213119216,20180001,LN0026,20180010020382,20180905000000001287,ZJ01,372926198405142520,张秋兰,...,32138220200605330090906992026489,6/6/2020 07:00:01,6/6/2020 07:00:01,202006.0,5.65,0.5,7.3646,女,1984-05-14,36
47720,010120200607001819886401000000,IBS20200606000575203945,ENS20060600214039289,20180001,LN0026,20180010033959,20181206000000006327,ZJ01,441721198308033132,林立,...,0,7/6/2020 07:00:01,7/6/2020 07:00:01,202006.0,5.65,0.5,0.8434,男,1983-08-03,37
47725,010120200610001843348101000000,IBS20200609000581073463,ENS20060900216268655,20180001,LN0026,20190010065061,20190604000000008669,ZJ01,622827199105110946,张银利,...,0,10/6/2020 07:00:01,10/6/2020 07:00:01,202006.0,5.65,0.5,1.1283,女,1991-05-11,29
47750,010120200611001851179301000000,IBS20200610000583151193,ENS20061000217095565,20180001,LN0026,20180010034108,20181210000000006331,ZJ01,362528198404305024,曾燕霞,...,0,11/6/2020 07:00:01,11/6/2020 07:00:01,202006.0,5.65,0.5,1.4053,女,1984-04-30,36

In [64]:
data_age = pd.DataFrame(data.groupby(['age'])['还款金额'].sum())
data_age

           还款金额
age
21    145000.00
22    288182.28
23    678225.73
24    835520.84
25    885196.31
26   1661305.24
27   1251377.60
28   3270659.72
29   3209884.51
30   5199198.61
31   6449705.44
32   4576241.26
33   6808673.89
34   8390216.64
35   6611855.39
36   6876635.31
37   5812280.62
38   6454288.63
39   6522189.97
40   6380097.87
41   8114082.42
42   5485641.67
43   3592149.03
44   4162448.56
45   4193619.59
46   3981649.11
47   5301342.13
48   4669305.58
49   3839804.93
50   4345138.95
51   4147932.36
52   1756325.94
53   1450010.94
54   1384148.16
55   1182700.78
56   1590975.86
57    471535.32
58    760081.45
59    250000.00
60    326351.96
61     78227.03
62    123811.13

In [69]:
data_age['累计还款金额'] = data_age.cumsum()
data_age['累计金额占比'] = data_age['累计还款金额']/data_age['还款金额'].sum()
data_age

           还款金额        累计还款金额    累计金额占比
age
21    145000.00  1.450000e+05  0.001010
22    288182.28  4.331823e+05  0.003018
23    678225.73  1.111408e+06  0.007744
24    835520.84  1.946929e+06  0.013566
25    885196.31  2.832125e+06  0.019734
26   1661305.24  4.493430e+06  0.031310
27   1251377.60  5.744808e+06  0.040030
28   3270659.72  9.015468e+06  0.062819
29   3209884.51  1.222535e+07  0.085186
30   5199198.61  1.742455e+07  0.121414
31   6449705.44  2.387426e+07  0.166355
32   4576241.26  2.845050e+07  0.198242
33   6808673.89  3.525917e+07  0.245685
34   8390216.64  4.364939e+07  0.304147
35   6611855.39  5.026124e+07  0.350218
36   6876635.31  5.713788e+07  0.398134
37   5812280.62  6.295016e+07  0.438634
38   6454288.63  6.940445e+07  0.483607
39   6522189.97  7.592664e+07  0.529054
40   6380097.87  8.230674e+07  0.573510
41   8114082.42  9.042082e+07  0.630049
42   5485641.67  9.590646e+07  0.668272
43   3592149.03  9.949861e+07  0.693302
44   4162448.56  1.036611e+08  0.722306
45   4193619.59  1.078547e+08  0.751527
46   3981649.11  1.118363e+08  0.779271
47   5301342.13  1.171377e+08  0.816211
48   4669305.58  1.218070e+08  0.848746
49   3839804.93  1.256468e+08  0.875502
50   4345138.95  1.299919e+08  0.905779
51   4147932.36  1.341399e+08  0.934681
52   1756325.94  1.358962e+08  0.946919
53   1450010.94  1.373462e+08  0.957023
54   1384148.16  1.387303e+08  0.966667
55   1182700.78  1.399130e+08  0.974908
56   1590975.86  1.415040e+08  0.985994
57    471535.32  1.419755e+08  0.989280
58    760081.45  1.427356e+08  0.994576
59    250000.00  1.429856e+08  0.996318
60    326351.96  1.433120e+08  0.998592
61     78227.03  1.433902e+08  0.999137
62    123811.13  1.435140e+08  1.000000

In [71]:
index_num = data_age[data_age['累计金额占比']>0.8].index.min()
index_num

47

In [75]:
data['age_bin'] = pd.cut(data['age'],[17,24,30,36,42,48,54,60,66,72,80],right = False)
data

,JNLNO,HJJNLNO,HJGLOBALJNLNO,MERCHANTNO,PRODID,DUENO,CONTNO,IDTYPE,IDNO,IDNAME,...,CREATETIME,UPDATETIME,REPAYMONTH,RATE,PROFITSHARING,PROFITAMOUNT,性别,person_birthday,age,age_bin
2310,010120181127000060373801000000,IBS20180915000015481137,ENS18091500003379011,20180001,LN0026,20180010018561,20180829000000001029,ZJ01,430103197708034035,范旭辉,...,27/11/2018 16:04:34,27/11/2018 16:04:34,201809.0,8.50,1.0,88.8894,男,1977-08-03,43,"[42, 48)"
2311,010120181127000060378901000000,IBS20180916000015545010,ENS18091600003401751,20180001,LN0026,20180010018482,20180828000000001017,ZJ01,371322198605302710,杜从都,...,27/11/2018 16:04:58,27/11/2018 16:04:58,201809.0,8.50,1.0,22.2224,男,1986-05-30,34,"[30, 36)"
2526,010120181127000060463101000000,IBS20180919000015856640,ENS18091900003540747,20180001,LN0026,20180010018688,20180831000000001074,ZJ01,372922197910063954,钟保银,...,27/11/2018 16:06:02,27/11/2018 16:06:02,201809.0,5.65,1.0,58.3327,男,1979-10-06,41,"[36, 42)"
4010,010120181127000061066501000000,IBS20181015000019343179,ENS18101500005164619,20180001,LN0026,20180010020421,20180906000000001320,ZJ01,372833197502280611,吴淑阳,...,27/11/2018 16:16:28,27/11/2018 16:16:28,201810.0,5.65,1.0,108.3327,男,1975-02-28,45,"[42, 48)"
4011,010120181127000061066601000000,IBS20181015000019343185,ENS18101500005164623,20180001,LN0026,20180010020428,20180906000000001322,ZJ01,110104196404280509,安长丽,...,27/11/2018 16:16:28,27/11/2018 16:16:28,201810.0,5.65,1.0,216.6673,女,1964-04-28,56,"[54, 60)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47703,010120200606001812064401000000,IBS20200605000572650243,ENS20060500213088180,20180001,LN0026,20180010033698,20181201000000006312,ZJ01,350628198709194013,何伟林,...,6/6/2020 07:00:01,6/6/2020 07:00:01,202006.0,5.65,0.5,1.4584,男,1987-09-19,33,"[30, 36)"
47715,010120200606001812065601000000,IBS20200605000572719060,ENS20060500213119216,20180001,LN0026,20180010020382,20180905000000001287,ZJ01,372926198405142520,张秋兰,...,6/6/2020 07:00:01,6/6/2020 07:00:01,202006.0,5.65,0.5,7.3646,女,1984-05-14,36,"[36, 42)"
47720,010120200607001819886401000000,IBS20200606000575203945,ENS20060600214039289,20180001,LN0026,20180010033959,20181206000000006327,ZJ01,441721198308033132,林立,...,7/6/2020 07:00:01,7/6/2020 07:00:01,202006.0,5.65,0.5,0.8434,男,1983-08-03,37,"[36, 42)"
47725,010120200610001843348101000000,IBS20200609000581073463,ENS20060900216268655,20180001,LN0026,20190010065061,20190604000000008669,ZJ01,622827199105110946,张银利,...,10/6/2020 07:00:01,10/6/2020 07:00:01,202006.0,5.65,0.5,1.1283,女,1991-05-11,29,"[24, 30)"
47750,010120200611001851179301000000,IBS20200610000583151193,ENS20061000217095565,20180001,LN0026,20180010034108,20181210000000006331,ZJ01,362528198404305024,曾燕霞,...,11/6/2020 07:00:01,11/6/2020 07:00:01,202006.0,5.65,0.5,1.4053,女,1984-04-30,36,"[36, 42)"

In [82]:
df_age = pd.pivot_table(data = data ,index = 'age_bin',values = '还款金额',aggfunc = np.sum)
df_age

                 还款金额
age_bin
[17, 24)   1111408.01
[24, 30)  11113944.22
[30, 36)  38035891.23
[36, 42)  40159574.82
[42, 48)  26716850.09
[48, 54)  20208518.70
[54, 60)   5639441.57
[60, 66)    528390.12
[66, 72)         0.00
[72, 80)         0.00

In [102]:
data['REPAYSOURCE'] = data['REPAYSOURCE'].replace({1:'代偿',3:'自结'})
df_age = pd.pivot_table(data = data ,index = 'age_bin',columns = 'REPAYSOURCE',values = 'CHANNELJNLNO',aggfunc = np.size)
df_age

REPAYSOURCE      代偿     自结
age_bin
[17, 24)      157.0    9.0
[24, 30)     1414.0   76.0
[30, 36)     4793.0  178.0
[36, 42)     5051.0   78.0
[42, 48)     3311.0   68.0
[48, 54)     2538.0   37.0
[54, 60)      622.0   19.0
[60, 66)      103.0    NaN

In [103]:
df_age['贷款总笔数'] = df_age.sum(axis=1)
df_age

REPAYSOURCE      代偿     自结   贷款总笔数
age_bin
[17, 24)      157.0    9.0   166.0
[24, 30)     1414.0   76.0  1490.0
[30, 36)     4793.0  178.0  4971.0
[36, 42)     5051.0   78.0  5129.0
[42, 48)     3311.0   68.0  3379.0
[48, 54)     2538.0   37.0  2575.0
[54, 60)      622.0   19.0   641.0
[60, 66)      103.0    NaN   103.0

In [104]:
df_age['借款笔数分布'] = df_age['贷款总笔数']/df_age['贷款总笔数'].sum()
df_age

REPAYSOURCE      代偿     自结   贷款总笔数    借款笔数分布
age_bin
[17, 24)      157.0    9.0   166.0  0.008995
[24, 30)     1414.0   76.0  1490.0  0.080741
[30, 36)     4793.0  178.0  4971.0  0.269372
[36, 42)     5051.0   78.0  5129.0  0.277934
[42, 48)     3311.0   68.0  3379.0  0.183104
[48, 54)     2538.0   37.0  2575.0  0.139536
[54, 60)      622.0   19.0   641.0  0.034735
[60, 66)      103.0    NaN   103.0  0.005581

In [105]:
df_age['借款累计占比'] = df_age['借款笔数分布'].cumsum()
df_age

REPAYSOURCE      代偿     自结   贷款总笔数    借款笔数分布    借款累计占比
age_bin
[17, 24)      157.0    9.0   166.0  0.008995  0.008995
[24, 30)     1414.0   76.0  1490.0  0.080741  0.089737
[30, 36)     4793.0  178.0  4971.0  0.269372  0.359109
[36, 42)     5051.0   78.0  5129.0  0.277934  0.637043
[42, 48)     3311.0   68.0  3379.0  0.183104  0.820147
[48, 54)     2538.0   37.0  2575.0  0.139536  0.959684
[54, 60)      622.0   19.0   641.0  0.034735  0.994419
[60, 66)      103.0    NaN   103.0  0.005581  1.000000

In [107]:
df_age['代偿占比'] = df_age['代偿']/df_age['贷款总笔数']
df_age

REPAYSOURCE      代偿     自结   贷款总笔数    借款笔数分布    借款累计占比      代偿占比
age_bin
[17, 24)      157.0    9.0   166.0  0.008995  0.008995  0.945783
[24, 30)     1414.0   76.0  1490.0  0.080741  0.089737  0.948993
[30, 36)     4793.0  178.0  4971.0  0.269372  0.359109  0.964192
[36, 42)     5051.0   78.0  5129.0  0.277934  0.637043  0.984792
[42, 48)     3311.0   68.0  3379.0  0.183104  0.820147  0.979876
[48, 54)     2538.0   37.0  2575.0  0.139536  0.959684  0.985631
[54, 60)      622.0   19.0   641.0  0.034735  0.994419  0.970359
[60, 66)      103.0    NaN   103.0  0.005581  1.000000  1.000000

In [110]:
df_age['借款笔数分布%'] = df_age['借款笔数分布'].apply(lambda x:format(x,'.3%'))
df_age['借款累计占比%'] = df_age['借款累计占比'].apply(lambda x:format(x,'.3%'))
df_age['代偿占比%'] = df_age['代偿占比'].apply(lambda x:format(x,'.3%'))
df_age

REPAYSOURCE,代偿,自结,贷款总笔数,借款笔数分布,借款累计占比,代偿占比,借款笔数分布%,代偿占比%,借款累计占比%
age_bin,,,,,,,,,
"[17, 24)",157.0,9.0,166.0,0.008995,0.008995,0.945783,0.900%,94.578%,0.900%
"[24, 30)",1414.0,76.0,1490.0,0.080741,0.089737,0.948993,8.074%,94.899%,8.974%
"[30, 36)",4793.0,178.0,4971.0,0.269372,0.359109,0.964192,26.937%,96.419%,35.911%
"[36, 42)",5051.0,78.0,5129.0,0.277934,0.637043,0.984792,27.793%,98.479%,63.704%
"[42, 48)",3311.0,68.0,3379.0,0.183104,0.820147,0.979876,18.310%,97.988%,82.015%
"[48, 54)",2538.0,37.0,2575.0,0.139536,0.959684,0.985631,13.954%,98.563%,95.968%
"[54, 60)",622.0,19.0,641.0,0.034735,0.994419,0.970359,3.474%,97.036%,99.442%
"[60, 66)",103.0,NaN,103.0,0.005581,1.000000,1.000000,0.558%,100.000%,100.000%